/* Userversal "*" na diye body dileo problem nai */
body {
  font-family: "Montserrat", sans-serif;
  /* by-default sokol margin remove kora */
  margin: 0;
  background-color: black;
  color: white;
  /* scroll jeno na hoy full body vitore sei jonno. scroll hobe sudu main-content er vitore */
  overflow: hidden;
}

.main{
  display: flex;
  /* total viewport niyar jonno */
  height: 100vh;
  /* full sidebar er 4dikei internally space dey */
  padding: 0.5rem;
}

.sidebar{
  background-color: #000;
  width: 340px;
  border-radius: 1rem; /* 1rem = 16px, rm dilam jate screen size choto korlei jeno edge gulao choto hoy*/
  margin-right: 0.5rem; /*right side a bahire jaiga chere dibe */
}

.main-content{
  background-color: #121212;
  /* sobar content thik vabe set hobar por baki sob jayga jeno main-content pai */
  flex: 1;
  border-radius: 1rem; /* 1rem = 16px, rm dilam jate screen size choto korlei jeno edge gulao choto hoy*/
  /* content jokhon besi boro hobe tokhon sudu "scrollbar" dekhabe */
  overflow: auto;
}

.music-player{
  background-color: yellow;
  /* position jeno kokhonoi change na hoy */
  position: fixed;
  /* nicer dike rakhar jonno */
  bottom: 0;
  /* left theke right sob jayga jeno nite pare */
  width: 100%;
  height: 72px;
}

/* sidebar, nav, nav-option er <a> tag er jonno */
a{
  text-decoration: none;
  color: white;
}

/* nav er jonno jekhane 2ta component ache*/
.nav{
  background-color: #121212;
  border-radius: 1rem;
  /* sob div same line(horizontal) a asbe */
  display: flex;
  /* akhon vertical line a nibo */
  flex-direction: column;
  height: 100px;
  /* center a niyar jonno (normaly "justify-content" horizontally center a ase but akhane direction amara vertical korchi tai vertically center korbe) */
  justify-content: center;
  /* inspect kore theke px k convert kore rem a dilam jate font size er dipend kore padding kaj kore */
  padding: 0.5rem 0.75rem;
}

.nav-option{
  /* 2ta line er majhe gap */
  line-height: 2.5rem;
  /* hover korar age jeno text ektu dark color lage, opre hover kore light korbo */
  opacity: 0.7;
  /* sob side a "0.5rem" and extra ero left-right side a 0.75rem */
  padding: 0.5rem 0.75rem;
}

/* hovar korchi */
.nav-option:hover{
  opacity: 1;
}



.nav-option i{
  font-size: 1.25rem;
}

.nav-option a{
  font-size: 1rem;
  /* icon theke ektu left side a space */
  margin-left: 1rem;
}

.library{
  background-color: #121212;
  border-radius: 1rem;
  /* full height neyar jonno */
  height: 100%;
  /* sidebar-nav and library er majhe jeno faka hoy */
  margin-top: 0.5rem;
  /* sob side a "0.5rem" and extra ero left-right side a 0.75rem */
  padding: 0.5rem 0.75rem;
}

.options{
  display: flex;
  /* 2ta div jeno adala side a thake */
  justify-content: space-between;
  /* vertically center korar jonno */
  align-items: center;
}

/* ager icon gulate jemon icon-size dichi ei icon er jonno same size dibo */
.lib-option img{
  height: 1.25rem;
  width: 1.25rem;
}

.icons{
  font-size: 1.25rem;
  display: flex;
}

.icons i{
  opacity: 0.7;
  margin-right: 1rem;
}

.icons i:hover{
  opacity: 1;
}

.box{
  background-color: #232323;
  height: 8rem;
  border-radius: 0.75rem;
  /* (top right bottom left) top and bottom er 8px=0.75rem */
  margin: 0.75rem 0 1.75rem 0;
  /* top-bottom 16px=1rem and left-right 20px=1.25rem */
  padding: 0.75rem 1rem;
}

.box-p1{
  font-size: 1rem;
  /* lekha ero mota korar jonno */
  font-weight: 500;
}

.box-p2{
  font-size: 0.85rem;
  opacity: 0.9;
}

/* capsul form create kora */
.badge{
  background-color: #fff;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  height: 2rem;
  /* width er vitore mane horizontali jeno content jeno fit hoy */
  width: fit-content;
}